repos:
  - repo: local
    hooks:
      - id: go-test
        name: go test
        entry: make test
        language: system
        pass_filenames: false
        always_run: true

      - id: go-lint
        name: golangci-lint
        entry: golangci-lint run --fix
        language: system
        pass_filenames: false
        always_run: true

      - id: go-build
        name: go build
        entry: make build
        language: system
        pass_filenames: false
        always_run: true
